:root {
  --black: #000;
  --white: #fff;
  --orange: #f50;
  --orange-intense: #de4b02;
  --grey: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', system-ui, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--black);
  color: var(--white);
}
